{:deps
 {com.camsaul/toucan2-core            {:local/root "../toucan2-core"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
  com.github.seancorfield/next.jdbc   {:mvn/version "1.2.659"}
  metabase/second-date                {:mvn/version "1.0.0"}}

 :aliases
 {:dev
  {:extra-deps {org.postgresql/postgresql {:mvn/version "42.2.19"}}
   :jvm-opts   ["-Duser.timezone=UTC"]}

  ;; clojure -X:test
  :test
  {:extra-paths ["test"
                 "../toucan2-core/test"
                 "../toucan2-jdbc/test"]
   :extra-deps  {com.camsaul/toucan2-honeysql         {:local/root "../toucan2-honeysql"}
                 io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                       :sha     "705ad25bbf0228b1c38d0244a36001c2987d7337"}
                 org.postgresql/postgresql            {:mvn/version "42.2.19"}}
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
   :exec-fn      hf.depstar/jar
   :exec-args    {:group-id    "com.camsaul"
                  :artifact-id "toucan2-jdbc"
                  :jar         "../target/toucan2-jdbc.jar"
                  :sync-pom    true
                  :paths-only  true}}}}
