*.class
*.jar
.\#*
.cache
.cpcache
.nrepl-port
/*.iml
/.eastwood
/.env
/.envrc
/.idea
/.lein-deps-sum
/.lein-env
/.lein-failures
/.lein-plugins
/.lein-repl-history
/build.xml
/checkouts
/classes
/classes
/config.edn
/lib
/local
/pom.xml.asc
/profiles.clj
/tags
/target
\#*\#
pom.xml
