;; This file is mostly a convenience for dev purposes (it combines all the subprojects) and also defines `:install`
;; and `:deploy` jobs that can be used for artifacts for the various subprojects.
{:aliases
 {:dev
  {:extra-deps
   {org.postgresql/postgresql    {:mvn/version "42.2.19"}
    com.camsaul/toucan2-core     {:local/root "toucan2-core"}
    com.camsaul/toucan2-honeysql {:local/root "toucan2-honeysql"}
    com.camsaul/toucan2-jdbc     {:local/root "toucan2-jdbc"}
    com.camsaul/toucan2          {:local/root "toucan2"}
    com.camsaul/toucan2-toucan1  {:local/root "toucan2-toucan1"}
    com.camsaul/toucan2-schema   {:local/root "toucan2-schema"}}

   :extra-paths
   ["toucan2-core/test"
    "toucan2-honeysql/test"
    "toucan2-jdbc/test"
    "toucan2/test"
    "toucan2-toucan1/test"
    "toucan2-schema/test"]}

  ;; test all the subprojects with clojure -X:test
  :test
  {:extra-paths ["toucan2-core/test"
                 "toucan2-honeysql/test"
                 "toucan2-jdbc/test"
                 "toucan2/test"
                 "toucan2-toucan1/test"
                 "toucan2-schema/test"]
   :extra-deps  {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                       :sha     "705ad25bbf0228b1c38d0244a36001c2987d7337"}
                 org.postgresql/postgresql            {:mvn/version "42.2.19"}
                 com.camsaul/toucan2-core             {:local/root "toucan2-core"}
                 com.camsaul/toucan2-honeysql         {:local/root "toucan2-honeysql"}
                 com.camsaul/toucan2-jdbc             {:local/root "toucan2-jdbc"}
                 com.camsaul/toucan2                  {:local/root "toucan2"}
                 com.camsaul/toucan2-toucan1          {:local/root "toucan2-toucan1"}
                 com.camsaul/toucan2-schema           {:local/root "toucan2-schema"}}
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["toucan2-core/test"
                        "toucan2-honeysql/test"
                        "toucan2-jdbc/test"
                        "toucan2/test"
                        "toucan2-toucan1/test"
                        "toucan2-schema/test"]}}

  ;; run Eastwood over everything with Clojure -M:eastwood:dev
  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "eastwood.lint"
                {:source-paths    ["toucan2-core/src"     "toucan2-core/test"
                                   "toucan2-honeysql/src" "toucan2-honeysql/test"
                                   "toucan2-jdbc/src"     "toucan2-jdbc/test"
                                   "toucan2/src"          "toucan2/test"
                                   "toucan2-toucan1/src"  "toucan2-toucan1/test"
                                   "toucan2-schema/src"   "toucan2-schema/test"]
                 :add-linters     [:unused-private-vars
                                   #_:unused-fn-args
                                   :unused-locals
                                   :unused-private-vars]
                 :exclude-linters [:deprecations]
                 :config-files    [".eastwood-config.clj"]}]}

  ;; clojure -X:install :artifact '"target/toucan2-honeysql.jar"'
  :install
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :exec-args  {:installer :local}}

  ;; clojure -X:deploy :artifact '"target/toucan2-honeysql.jar"'
  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :exec-args  {:installer :remote, #_:sign-releases? #_true}}}}
