{:paths
 ["src" "resources"]

 :deps
 {better-cond/better-cond             {:mvn/version "2.1.5"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
  com.github.seancorfield/honeysql    {:mvn/version "2.4.972"}
  com.github.seancorfield/next.jdbc   {:mvn/version "1.3.847"}
  environ/environ                     {:mvn/version "1.2.0"}
  methodical/methodical               {:mvn/version "0.15.1"}
  mvxcvi/puget                        {:mvn/version "1.3.4"}
  org.clojure/tools.logging           {:mvn/version "1.2.4"}
  org.clojure/tools.trace             {:mvn/version "0.7.11"}
  potemkin/potemkin                   {:mvn/version "0.4.6"}
  pretty/pretty                       {:mvn/version "1.0.5"}}

 :aliases
 {:dev
  {:extra-deps
   {com.h2database/h2                    {:mvn/version "2.1.214"}
    eftest/eftest                        {:mvn/version "0.6.0"}
    io.github.camsaul/humane-are         {:mvn/version "1.0.2"}
    org.clojure/java.classpath           {:mvn/version "1.0.0"}
    org.clojure/math.combinatorics       {:mvn/version "0.1.6"}
    org.clojure/tools.namespace          {:mvn/version "1.3.0"}
    org.mariadb.jdbc/mariadb-java-client {:mvn/version "3.1.2"}
    org.postgresql/postgresql            {:mvn/version "42.5.2"}
    pjstadig/humane-test-output          {:mvn/version "0.11.0"}}

   :extra-paths
   ["test" "toucan1/src" "toucan1/test"]

   :jvm-opts
   ["-Duser.timezone=UTC"
    ;; if compilation on launch fails or whatever print to console instead of a temp file.
    "-Dclojure.main.report=stderr"
    ;; [LEVEL logger-name] message stacktrace
    "-Djava.util.logging.SimpleFormatter.format=%n[%4$s %3$s] %5$s%n%6$s%n"
    ;; Exceptions that get thrown repeatedly are created without stacktraces as a performance optimization in newer Java
    ;; versions. This makes debugging pretty hard when working on stuff locally -- prefer debuggability over performance
    ;; for local dev work.
    "-XX:-OmitStackTraceInFastThrow"]}

  ;; clojure -M:check
  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts  ["-m" "clj-check.check"]}

  ;; clj -T:whitespace-linter
  :whitespace-linter
  {:deps       {com.github.camsaul/whitespace-linter {:sha "e35bc252ccf5cc74f7d543ef95ad8a3e5131f25b"}}
   :ns-default whitespace-linter
   :exec-fn    whitespace-linter/lint
   :exec-args  {:paths            ["deps.edn" "src" "test" "toucan1/src" "toucan1/test" ".github" "docs"]
                :include-patterns ["\\.clj[cs]?$" "\\.edn$" "\\.yaml$" "\\.sql$" "\\.md$"]}}

  ;; Run tests against the value of `TEST_DBS`, by default `postgres,h2,mariadb`.
  ;;
  ;; clojure -X:dev:test
  :test
  {:exec-fn   toucan2.test-runner/run-tests
   :jvm-opts  ["-Dtest.dbs=h2,postgres,mariadb"
               "-Dtoucan.test=true"
               "-Dtoucan.debug.level=disabled" #_trace]
   :exec-args {:only ["test"
                      "toucan1/test"]}}

  ;; run tests only against H2.
  ;;
  ;; clj -X:dev:test:test-h2
  :test-h2
  {:jvm-opts ["-Dtest.dbs=h2"]}

  ;; only run tests against the Toucan 2 'core'
  ;;
  ;; clj -X:dev:test:test-core
  :test-core
  {:exec-args {:only ["test"]}}

  ;; only run tests against `toucan2-toucan1`
  ;;
  ;; clj -X:dev:test:test-toucan1
  :test-toucan1
  {:exec-args {:only ["toucan1/test"]}}

  ;; run tests only against Postgres.
  ;;
  ;; clj -X:dev:test:test-postgres
  :test-postgres
  {:jvm-opts ["-Dtest.dbs=postgres"]}

  ;; run tests only against MariaDB.
  ;;
  ;; clj -X:dev:test:test-mariadb
  :test-mariadb
  {:jvm-opts ["-Dtest.dbs=mariadb"]}

  ;; clj -X:dev:cloverage
  :cloverage
  {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
   :exec-fn    toucan2.cloverage-runner/run-project
   :exec-args  {:codecov? true

                :src-ns-path
                ["src" "toucan1/src"]

                :test-ns-path
                ["test" "toucan1/test"]

                ;; exclude debug logging.
                :exclude-call
                [toucan2.log/debugf
                 toucan2.log/errorf
                 toucan2.log/infof
                 toucan2.log/tracef
                 toucan2.log/warnf]

                :ns-regex
                ["^toucan\\..*" "^toucan2\\..*"]}}

  ;; clojure -T:build
  :build
  {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.9.2", :git/sha "d758807"}}
   :ns-default build}}}
