{:deps
 {io.github.camsaul/toucan2-toucan1 {:local/root ".."}}

 :aliases
 {:dev
  {:extra-paths ["test" "../test"]}

  ;; clojure -M:check
  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts  ["-m" "clj-check.check"]}

  ;; clojure -T:build
  :build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
                slipset/deps-deploy           {:mvn/version "0.2.2"}}
   :ns-default build}}}
