{:deps
 {io.github.camsaul/toucan2-toucan1 {:local/root ".."}}

 :aliases
 {
  ;; clojure -T:build
  :build
  {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.8.3", :git/sha "7ac1f8d"}}
   :ns-default build}}}
