{:deps
 {io.github.camsaul/toucan2-toucan1 {:local/root ".."}}

 :aliases
 {:dev
  {:extra-paths ["test"]}

  ;; clojure -M:check
  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts  ["-m" "clj-check.check"]}

  ;; clojure -T:build
  :build
  {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.8.3", :git/sha "7ac1f8d"}}
   :ns-default build}}}
