{:linters
 {:refer-all
  {:exclude [clojure.test]}}

 :lint-as
 {methodical.core/defmulti            clojure.core/defmulti
  methodical.core/defmethod           clojure.core/defmethod
  toucan2.compile/with-compiled-query clojure.core/let
  toucan2.connection/with-connection  clojure.core/let}}
