version: 2.1

########################################################################################################################
#                                                      EXECUTORS                                                       #
########################################################################################################################

executors:
  default:
    working_directory: /home/circleci/camsaul/toucan2/
    docker:
      - image: circleci/clojure:openjdk-17-tools-deps-1.10.3.822-buster

  postgres:
    working_directory: /home/circleci/camsaul/toucan2/
    docker:
      - image: circleci/clojure:openjdk-17-tools-deps-1.10.3.822-buster
        environment:
          JDBC_URL_POSTGRES: jdbc:postgresql://localhost:5432/circle_test?user=circle_test
      - image: postgres:latest
        environment:
          POSTGRES_USER: circle_test
          POSTGRES_DB: circle_test
          POSTGRES_HOST_AUTH_METHOD: trust

########################################################################################################################
#                                                       COMMANDS                                                       #
########################################################################################################################

commands:

  attach-workspace:
    steps:
      - attach_workspace:
          at: /home/circleci/

  restore-deps-cache:
    steps:
      - restore_cache:
          keys:
            - deps-{{ checksum ".DEPS" }}
            - deps-

jobs:

  checkout:
    executor: default
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}
            - source-
      - checkout
      - save_cache:
          key: source-{{ .Branch }}-{{ .Revision }}
          paths:
            - .git
      - run:
          name: "Generate .DEPS"
          command: |
            for file in `find . -name deps.edn -type f | sort`; do
               echo `md5sum "$file"` >> .DEPS
            done
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - camsaul/toucan2

  deps:
    executor: default
    steps:
      - attach-workspace
      - restore-deps-cache
      - run: clojure -P -X:test
      - run: clojure -P -X:install
      - run: clojure -P -X:deploy
      - run: cd /home/circleci/camsaul/toucan2/toucan2/ && clojure -P -X:jar
      - run: cd /home/circleci/camsaul/toucan2/toucan2/ && clojure -P -X:check
      - save_cache:
          key: deps-{{ checksum ".DEPS" }}
          paths:
            - /home/circleci/.m2

  clojure:
    parameters:
      e:
        type: executor
        default: default
      dir:
        type: string
        default: /home/circleci/camsaul/toucan2/
      command:
        type: string
    executor: << parameters.e >>
    steps:
      - attach-workspace
      - run: cd << parameters.dir >> && clojure << parameters.command >>

  deploy:
    executor: default
    steps:
      - attach-workspace
      - run: ./deploy-all.sh "$(git describe --tags)"


########################################################################################################################
#                                                      WORKFLOWS                                                       #
########################################################################################################################

workflows:
  version: 2
  build:
    jobs:
      - checkout

      - deps:
          requires:
            - checkout

      - clojure:
          name: check-toucan2-core
          requires:
            - deps
          dir: /home/circleci/camsaul/toucan2/toucan2-core/
          command: -M:check

      - clojure:
          name: check-toucan2-honeysql
          requires:
            - deps
          dir: /home/circleci/camsaul/toucan2/toucan2-honeysql/
          command: -M:check

      - clojure:
          name: check-toucan2-jdbc
          requires:
            - deps
          dir: /home/circleci/camsaul/toucan2/toucan2-jdbc/
          command: -M:check

      - clojure:
          name: check-toucan2
          requires:
            - deps
          dir: /home/circleci/camsaul/toucan2/toucan2/
          command: -M:check

      - clojure:
          name: test-toucan2-core
          requires:
            - check-toucan2-core
          e: postgres
          dir: /home/circleci/camsaul/toucan2/toucan2-core/
          command: -X:test

      - clojure:
          name: test-toucan2-honeysql
          requires:
            - check-toucan2-honeysql
          e: postgres
          dir: /home/circleci/camsaul/toucan2/toucan2-honeysql/
          command: -X:test

      - clojure:
          name: test-toucan2-jdbc
          requires:
            - check-toucan2-jdbc
          e: postgres
          dir: /home/circleci/camsaul/toucan2/toucan2-jdbc/
          command: -X:test

      - clojure:
          name: test-toucan2
          requires:
            - check-toucan2
          e: postgres
          dir: /home/circleci/camsaul/toucan2/toucan2/
          command: -X:test

      - deploy:
          requires:
            - test-toucan2-core
            - test-toucan2-honeysql
            - test-toucan2-jdbc
            - test-toucan2
          filters:
            branches:
              only: master
