version: 2.1

########################################################################################################################
#                                                      EXECUTORS                                                       #
########################################################################################################################

executors:
  default:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:lein-2.9.1

  h2:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:lein-2.9.1
        environment:
          JDBC_URL: jdbc:h2:mem:bluejdbc_test;DB_CLOSE_DELAY=-1

  java-11:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:openjdk-11-lein-2.9.1
        environment:
          JDBC_URL: jdbc:h2:mem:bluejdbc_test;DB_CLOSE_DELAY=-1

  postgres-9-6:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:lein-2.9.1
        environment:
          JDBC_URL: jdbc:postgresql://localhost:5432/circle_test?user=circle_test
      - image: circleci/postgres:9.6-alpine
        environment:
          POSTGRES_USER: circle_test
          POSTGRES_DB: circle_test

  postgres-latest:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:lein-2.9.1
        environment:
          JDBC_URL: jdbc:postgresql://localhost:5432/circle_test?user=circle_test
      - image: postgres:latest
        environment:
          POSTGRES_USER: circle_test
          POSTGRES_DB: circle_test
          POSTGRES_HOST_AUTH_METHOD: trust

  mysql-5-7:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:lein-2.9.1
        environment:
          JDBC_URL: jdbc:mysql://localhost:3306/circle_test?user=root
      - image: circleci/mysql:5.7.23

  mysql-latest:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:lein-2.9.1
        environment:
          JDBC_URL: jdbc:mysql://localhost:3306/circle_test?user=root
      - image: circleci/mysql:latest

  mariadb-10-2:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:lein-2.9.1
        environment:
          JDBC_URL: jdbc:mysql://localhost:3306/circle_test?user=root
      - image: circleci/mariadb:10.2.23

  mariadb-latest:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:lein-2.9.1
        environment:
          JDBC_URL: jdbc:mysql://localhost:3306/circle_test?user=root
      - image: mariadb:latest
        environment:
          MYSQL_DATABASE: circle_test
          MYSQL_USER: root
          MYSQL_ALLOW_EMPTY_PASSWORD: yes

  sqlserver-2017:
    working_directory: /home/circleci/camsaul/bluejdbc/
    docker:
      - image: circleci/clojure:lein-2.9.1
        environment:
          JDBC_URL: jdbc:sqlserver://localhost:1433/?user=SA&password=123456
      - image: mcr.microsoft.com/mssql/server:2017-latest
        environment:
          ACCEPT_EULA: Y
          SA_PASSWORD: 123456


########################################################################################################################
#                                                       COMMANDS                                                       #
########################################################################################################################

commands:

  attach-workspace:
    steps:
      - attach_workspace:
          at: /home/circleci/

  restore-deps-cache:
    steps:
      - restore_cache:
          keys:
            - deps-{{ checksum "project.clj" }}
            - deps-

jobs:

  checkout:
    executor: default
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}
            - source-
      - checkout
      - save_cache:
          key: source-{{ .Branch }}-{{ .Revision }}
          paths:
            - .git
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - camsaul/bluejdbc

  deps:
    executor: default
    steps:
      - attach-workspace
      - restore-deps-cache
      - run: lein deps
      - save_cache:
          key: deps-{{ checksum "project.clj" }}
          paths:
            - /home/circleci/.m2

  lein:
    parameters:
      e:
        type: executor
        default: default
      lein-command:
        type: string
      after-steps:
        type: steps
        default: []
    executor: << parameters.e >>
    steps:
      - attach-workspace
      - restore-deps-cache
      - run:
          command: lein << parameters.lein-command >>
          no_output_timeout: 5m
      - steps: << parameters.after-steps >>

  reflection-warnings:
    executor: default
    steps:
      - attach-workspace
      - restore-deps-cache
      - run:
          command: ./check-for-reflection-warnings.sh
          no_output_timeout: 3m


########################################################################################################################
#                                                      WORKFLOWS                                                       #
########################################################################################################################

workflows:
  version: 2
  build:
    jobs:
      - checkout

      - deps:
          requires:
            - checkout

      - lein:
          name: postgres-9-6
          requires:
            - deps
          e: postgres-9-6
          lein-command: test

      - lein:
          name: postgres-latest
          requires:
            - deps
          e: postgres-latest
          lein-command: test

      # - lein:
      #     name: h2
      #     requires:
      #       - deps
      #     e: h2
      #     lein-command: test

      # - lein:
      #     name: h2-java-11
      #     requires:
      #       - deps
      #     e: java-11
      #     lein-command: test

      # - lein:
      #     name: mysql-5-7
      #     requires:
      #       - deps
      #     e: mysql-5-7
      #     lein-command: test

      # - lein:
      #     name: mysql-latest
      #     requires:
      #       - deps
      #     e: mysql-latest
      #     lein-command: test

      # - lein:
      #     name: mariadb-10-2
      #     requires:
      #       - deps
      #     e: mariadb-10-2
      #     lein-command: test

      # - lein:
      #     name: mariadb-latest
      #     requires:
      #       - deps
      #     e: mariadb-latest
      #     lein-command: test

      # - lein:
      #     name: sqlserver-2017
      #     requires:
      #       - deps
      #     e: sqlserver-2017
      #     lein-command: test

      - lein:
          name: eastwood
          requires:
            - deps
          lein-command: eastwood

      - lein:
          name: docstring-checker
          requires:
            - deps
          lein-command: docstring-checker

      - lein:
          name: namespace-decls
          requires:
            - deps
          lein-command: check-namespace-decls

      - lein:
          name: bikeshed
          requires:
            - deps
          lein-command: bikeshed

      - lein:
          name: cloverage
          requires:
            - deps
          e: postgres-latest
          lein-command: cloverage --codecov
          after-steps:
            - run:
                command: bash <(curl -s https://codecov.io/bash)

      - reflection-warnings:
          requires:
            - deps

      - lein:
          name: deploy
          requires:
            - bikeshed
            - docstring-checker
            - eastwood
            - namespace-decls
            - cloverage
            - reflection-warnings
            - postgres-9-6
            - postgres-latest
            # - h2
            # - h2-java-11
            # - mysql-5-7
            # - mysql-latest
            # - mariadb-10-2
            # - mariadb-latest
            # - sqlserver-2017
          lein-command: deploy clojars
          filters:
            branches:
              only: master
