name: Tests

on:
  push:

jobs:
  kondo:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - uses: DeLaGuardo/clojure-lint-action@master
      with:
        check-name: Run clj-kondo
        clj-kondo-args: >-
          --parallel
          --lint
          /work/src
          /work/test
          /work/toucan1/src
          /work/toucan1/test
        github_token: ${{ secrets.GITHUB_TOKEN }}

  tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - uses: harmon758/postgresql-action@v1
      with:
        postgresql version: 14
        postgresql db: 'toucan2'
        postgresql user: 'cam'
        postgresql password: 'cam'
    - name: Prepare JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@9.4
      with:
        cli: 1.11.1.1155
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: tests
    - run: clojure -X:dev:test
      name: Run tests

  whitespace-linter:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Prepare JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@9.4
      with:
        cli: 1.11.1.1155
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: whitespace-linter
    - run: clojure -T:whitespace-linter
      name: Run whitespace linter
