name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-20.04
    environment: Deployment
    steps:
    - uses: actions/checkout@v4.1.0
      with:
        fetch-depth: 0
    - name: Setup Java & Clojure
      uses: ./.github/actions/setup
      with:
        cache-key: deploy
    - name: Build Toucan 2
      run: clojure -T:build build
      env:
        GITHUB_SHA: ${{ env.GITHUB_SHA }}
    - name: Build toucan2-toucan1
      run: clojure -T:build build
      env:
        GITHUB_SHA: ${{ env.GITHUB_SHA }}
      working-directory: toucan1
    - name: Deploy Toucan 2
      run: clojure -T:build deploy
      env:
        CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
        CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
    - name: Deploy toucan2-toucan1
      run: clojure -T:build deploy
      working-directory: toucan1
      env:
        CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
        CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
