name: Tests

on:
  push:

jobs:
  kondo:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - uses: DeLaGuardo/clojure-lint-action@master
      with:
        check-name: Run clj-kondo
        clj-kondo-args: >-
          --lint
          src
          test
          toucan1/src
          toucan1/test
        github_token: ${{ secrets.GITHUB_TOKEN }}

  tests-postgres:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - uses: harmon758/postgresql-action@v1
      with:
        postgresql version: 14
        postgresql db: 'toucan2'
        postgresql user: 'cam'
        postgresql password: 'cam'
    - name: Prepare JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@10.1
      with:
        cli: 1.11.1.1208
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: v1-${{ hashFiles('./deps.edn') }}-postgres
        restore-keys: |
          v1-${{ hashFiles('./deps.edn') }}-
          v1-
    - run: clojure -X:dev:test:test-postgres
      name: Run tests
      env:
        CI: TRUE

  tests-mariadb:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    services:
      mariadb:
        image: mariadb:latest
        ports:
          - "3306:3306"
        env:
          MYSQL_DATABASE: metabase_test
          MYSQL_USER: root
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
    steps:
    - uses: actions/checkout@v3
    - name: Prepare JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@10.1
      with:
        cli: 1.11.1.1208
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: v1-${{ hashFiles('./deps.edn') }}-postgres
        restore-keys: |
          v1-${{ hashFiles('./deps.edn') }}-
          v1-
    - run: clojure -X:dev:test:test-mariadb
      name: Run tests
      env:
        CI: TRUE

  tests-h2:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - name: Prepare JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@10.1
      with:
        cli: 1.11.1.1208
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: v1-${{ hashFiles('./deps.edn') }}-h2
        restore-keys: |
          v1-${{ hashFiles('./deps.edn') }}-
          v1-
    - run: clojure -X:dev:test:test-h2
      name: Run tests
      env:
        CI: TRUE

  whitespace-linter:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Prepare JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@10.1
      with:
        cli: 1.11.1.1208
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: v1-${{ hashFiles('./deps.edn') }}-whitespace-linter
        restore-keys: |
          v1-${{ hashFiles('./deps.edn') }}-
          v1-
    - run: clojure -T:whitespace-linter
      name: Run whitespace linter

  check:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Prepare JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@10.1
      with:
        cli: 1.11.1.1208
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: v1-${{ hashFiles('./deps.edn') }}-check
        restore-keys: |
          v1-${{ hashFiles('./deps.edn') }}-
          v1-
    - run: clojure -M:check
      name: Check Toucan 2 core namespaces
    - run: clojure -M:check
      name: Check toucan2-toucan1 namespaces
      working-directory: toucan1

  codecov:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Prepare JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@10.1
      with:
        cli: 1.11.1.1208
    - name: Restore cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: v1-${{ hashFiles('./deps.edn') }}-codecov
        restore-keys: |
          v1-${{ hashFiles('./deps.edn') }}-
          v1-
    - run: clojure -X:dev:test-h2:cloverage
      name: Run tests with Cloverage
    - name: Upload results to codecov.io
      uses: codecov/codecov-action@v3
      with:
        files: ./target/coverage/codecov.json
